@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Playfair+Display:wght@400;600&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Poppins', sans-serif;
}

/* .slick-slide{
  @apply 
} */
.myClass{
  width: 50%;
  height: 500px;
  background-color: aqua;
}